@model List<Brand>

<h1>Crear cerveza</h1>

<hr/>

<div class="row">
    <div class="col-md-4">
    </div>
</div>

<table class="table">
    <thead><tr><th>Nombre</th></tr></thead>
    <tbody>
        @foreach (var brand in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(item => brand.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
